/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Calistoga&family=Montserrat:wght@400;700&family=Nunito:wght@400;600&family=Poppins:wght@600&display=swap');
/* 
font-family: 'Montserrat',sans-serif;
font-family: 'Archivo',sans-serif;
font-family: 'Calistoga',cursive;
font-family: 'Nunito',sans-serif;
font-family: 'Poppins',sans-serif;
 */



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #f6eedf;
}
.uni-padding{
    padding: 0 8%;

}
.mtb{
    margin: 30px 0;
}
/* ////////////////////////////////////////// navbar ////////////////////////////////////////// */
/* hero sec  */
.herosec {
    background-image: url(./images/landing-img.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}
header {
    background: linear-gradient(to top, transparent 0%, black 100%);
    /* margin-top: 30px; */
    height: 20vh;
    text-align: center;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

header .logo {
 
}

.logo img {
    width: 80px;
   
}

header nav {
  
}

header nav ul li {
    display: inline-block;

margin-left:calc(1rem + 3vw);
}

header nav ul li a {
    font-size: calc(1rem + 1vw);
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
   
    
    font-family: 'Poppins', sans-serif;

}
.ctatext{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* width: 55%; */
}
.ctatext h1 {
    line-height: 1;
    font-size: calc(1rem + 5vw);
    color: #fff;

}
.ctatext p {
    margin-top: 35px    ;
    color: #fff;
    font-size: 18px;
font-family: 'Nunito', sans-serif;
max-width: 600px;

}


.ctatext a{
   
    background-color: #f64b3c;
}
.btn{
    text-decoration: none;
        color: #fff;
    margin-top: 35px;
    font-size: 24px;
padding:8px 70px;

 
border-radius:30px;
}
/* 
/* our chef */
.ourchefsec{
   
    text-align: center;
    padding: 30px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
}
.ourchefsec h2 {
    font-family: 'Archivo', sans-serif;
    font-size: 40px;
    color: #f64b3c;

}
.ourchefsec p {
    color: #f64b3c;
    font-size: 20px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

.ourchefsec .row {  
    display: flex;
    justify-content: space-evenly;
}

.ourchefsec .row div {
    text-align: center;
    max-width: 33.33%;
    
    
}
.row div img {
    width: calc(95%,5vw);
    padding-bottom: 20px;

}
.row div h3 {
    color: #f64b3c;
    font-size: 25px;
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
}

.row div  p {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
 font-weight: 600;
}
/* bestBurger */

.bestBurger{
    height: 100vh;
    background-color: #f64b3c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 

}
.bestBurger .bBcontent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.bestBurger .bBcontent h2{
     font-family: 'Archivo', sans-serif;
        font-size: 50px;
        color: #fff;margin:  15px 0;
}
.bestBurger .bBcontent p{
    max-width: 600px;
    font-size: 20px;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        color: #fff;margin:   15px 0;

}
.bestBurger .bBcontent a{
background-color: #fff;
color: #f64b3c;
margin: 15px 0;
}
/* bigBurger */
.bigBurger {
    height: 100vh;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.bigBurger .bBcontent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bigBurger .bBcontent h2 {
    font-family: 'Archivo', sans-serif;
    font-size: 50px;
    color: #f64b3c;
    margin: 15px 0;
}

.bigBurger .bBcontent p {
    max-width: 600px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #f64b3c;
    margin: 15px 0;

}

.bigBurger .bBcontent a {
    background-color: #f64b3c;
    color: #fff;
    margin: 15px 0;
}
/* STATISTICS */
.statistics {
    background-color: #f64b3c;
text-align: center;
    padding: 30px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.statistics h2 {
    font-family: 'Archivo', sans-serif;
    font-size: 40px;
    color: #fff;

}

.statistics p {
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

.statistics .circles{
display: flex;
    justify-content: space-evenly;
}
.statistics .circles div {
    border: 3px solid #fff;
border: 3px solid green;
    text-align: center;
    border-radius: 50px;
    width: min-content;
    padding: 2px;
}
.circles div img {
    width: calc(95%, 5vw);
    padding-bottom: 20px;

}
 

/* footer */
footer{
    background-color: #222222;
   
    overflow: auto;
  


}
footer .space{
    padding: 180px 0;
display: flex;
}
footer h3{
    font-size: 25px;
    color: #fff;
    margin-bottom:20px;
}


footer nav ul li{
    color: #fff;
    font-size: 15px;
    list-style: none;
    margin-top: 10px;
   
}
.div50{
    width:50%;
    text-align: left;
    margin-right: 50px;
    
}
.div50 p{
    color: #fff;
    font-size: 15px;
    width: 65%;
}
.div16{
    width: 16.66%;
}

